[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "1.2.4"
numpy = "1.19.5"
flashtext = "2.7"
bs4 = "*"
pymorphy2 = "0.9.1"
pymorphy2-dicts-uk = "*"
pymorphy2-dicts-ru = "*"
fasttext = "0.9.2"
imblearn = "*"
tqdm = "4.60.0"
scikit-learn = "0.24.2"
matplotlib = "3.4.1"
tensorflow-cpu = "==2.4.1"
flask = "==2.0.0"
werkzeug = "==2.0.1"

[dev-packages]
jupyter = "1.0.0"

[requires]
python_version = "3.8"
