[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
nltk = "*"
flashtext = "*"
bs4 = "*"
pymorphy2 = "*"
pymorphy2-dicts-uk = "*"
pymorphy2-dicts-ru = "*"
fasttext = "*"
keras = "*"
tensorflow = "2.4.1"
imblearn = "*"
tqdm = "*"

[dev-packages]
jupyter = "*"

[requires]
python_version = "3.8"
